.sectionblack{
    /* background: linear-gradient(to bottom, black 0%, black 50%, #090909 100%) !important; */
    background-color: #000 !important;
    color: #fff;
}
.press_black{
    padding-top: 30px;
    margin-bottom: 52px;
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.press_box{
    justify-content: center;
    padding: 8px;
}
.press_box_img{
    filter: brightness(0) invert(1);
}
.carousel{
    border-bottom: solid 1px rgba(255,255,255,0.2);
    bottom: 75%;
}
.rowLimit{
    width: 80%;
}
.press_black_title{
    font-size: 1.4em !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    letter-spacing: .2em;
    margin: 1.5em 0;
    text-align: center;
    color: #fff;
}
.imgstyle{
    width:100%;
}
.imgcontainer{
    width:100%;
    margin:auto;
    float:none !important;
    padding-bottom:2%;
}
.displayblock{
    display:block;
}
.marginimg{
    margin-bottom:2% !important;
}
#header.header-sticky #header-wrap{
    background: linear-gradient(#000 65%, transparent);
    background-color: none !important;
}
.press_title{
    font-size: 1.4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 1.5em 0;
    text-align: center;
    color: #fff;
}